* {
  padding: 0px;
  margin: 0px;
  --main-red: rgb(235, 111, 88);
  --main-grey: rgb(36, 36, 36);
}

body {
  font-family: 'Open Sans', sans-serif;
  background-color: var(--main-grey);
}

h1 {
  font-size: 4em;
  font-family: 'Quicksand', sans-serif;
  color: var(--main-red);
  text-align: center;
  margin: 2%;
}

h2 {
  color: white;
  text-align: center;
  font-weight: lighter;
}

p {
  margin: auto;
  font-style: italic;
  font-size: 1.2em;
  color: white;
  flex-basis: 100%;
}

.whiteLink {
  margin: auto;
  font-style: italic;
  font-size: 1.2em;
  color: white;
  flex-basis: 100%;
}

strong {
  font-size: 1.5em;
  color: rgb(228, 171, 0);
}

form {
  display: flex;
  flex-direction: column;
  margin: 4% auto 0% auto;
  width: 30%;
  /*border: 2px solid rgba(255, 255, 255, 0.55);*/
  border-radius: 10px;
  padding: 10px;
}

button {
  margin: 1% auto;
  background-color: var(--main-red);
  font-size: 1em;
  padding: 1% 2%;
  color: var(--main-grey);
  text-align: center;
  border: none;
  border-radius: 7px;
}

#submitButton {
  margin: 1% auto;
  background-color: var(--main-red);
  font-size: 1.5em;
  padding: 4% 12%;
  color: var(--main-grey);
  text-align: center;
  border: none;
  border-radius: 7px;
}

#imageInput {
  background-color: rgba(238, 247, 236, 0.8);
  color: rgb(70, 70, 70);
  border: none;
  padding: 5%;
  font-size: 1.5em;
  text-align: center;
  border-radius: 7px;
}

hr {
  width: 70%;
  border-color: var(--main-red);
  margin: 1% auto;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: var(--main-red);
  color: white;
  text-align: center;
  padding: 1%;
  box-shadow: 0px -1px 20px 1px rgba(18, 18, 18, 0.68);
}

a {
  color: rgb(36, 36, 36);
  text-decoration: none;
  font-weight: bold;
}

#imageScroll {
  width: 100%;
  padding-bottom: 3%;
}

.imageGroup {
  display: flex;
  /*flex-direction: column;*/
  width: 80%;
  margin: auto;
}

.imageHolder {
  flex: 1;
}

.textInformation {
  padding-left: 2%;
  margin: auto;
  flex: 5;
  display: flex;
  justify-content: space-around;
  /*set the initial length*/
}

img {
  margin: 2%;
  border-radius: 5px;
  box-shadow: 0px -1px 20px 1px rgba(18, 18, 18, 0.68);
}